body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #333;
}

.navbar-Fashonista {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: center;
  width: 100%;
  height: 60px;
  margin: 0 auto 0 auto;
}

.navbar-brand {
  font-size: 40px;
  color: #333 !important;
  position: center;
  margin-right: auto;
  margin-left: auto;
}

.nav-link {
  color: #333 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #333;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.input-submit_button {
  position: center;
}

#user_header {
  clear: both;
  margin: 22px 0 0 0;
}

#user_header #user_sub {
  width: 150px;
  float: left;
  margin: 0 0 0 42px;
}

#user_header #user_sub .image {
  position: relative;
  width: 150px;
  height: 150px;
}

#user_header #user_sub .btn_follow {
  width: 134px;
  margin: 18px auto 0 auto;
}

#gbl_body {
  clear: both;
  width: 990px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
}

#user_menu {
  clear: both;
  padding: 10px 0 0 0;
}

#user_menu nav .main {
  float: left;
}

#user_menu nav .main li {
  border-right: 1px #ddd solid;
}

#user_menu nav .sub {
  float: right;
}

#user_menu nav .sub li {
  border-left: 1px #ddd solid;
}

.main ul {
  display: table;
  table-layout: fixed;
}

.main li {
  display: table-cell;
}

.main a {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 8px 0;
}

.sub ul {
  display: table;
  table-layout: fixed;
}

.sub li {
  display: table-cell;
}

#user_menu nav ul li {
  width: 220px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
  line-height: 2.4;
}

#user_menu nav ul li span {
  display: block;
  font-size: 13px;
  font-weight: normal;
}

#user_menu nav .sub li:last-child a {
  border-radius: 0 3px 3px 0;
}

#user_menu nav ul li a {
  display: block;
  color: #333;
  padding: 8px 0 8px 0;
}

#content {
  text-align: center;
  margin: 18px auto 0 auto;
}

#content .btnAdd {
  text-align: center;
  width: 330px;
  margin: 0 auto 0 auto;
}

#content .btnAdd a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 1px #1e78ad solid;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.2;
  padding: 13px 0 13px 0;
  background-color: #2490d0;
}

.btn_profileupdate {
  display: block;
  padding: 8px 0 8px 0;
  text-decoration: none;
  color: #808080;
  background-color: #EEEEEE;
  font-weight: bold;
  border: 2px #ddd solid;
  border-radius: 2px;
  text-align: center;
}

