body {
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
}

.navbar-Fashonista {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: center;
  width: 100%;
  height: 60px;
  margin: 0 auto 0 auto;
}

.navbar-brand {
  font-size: 40px;
  color: #333 !important;
  position: center;
  margin-right: auto;
  margin-left: auto;
}

.nav-link {
  color: #333 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #333;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.input-submit_button {
  position: center;
}

